# Reduce Data Set
The original data set had over 51 million rows, so we opted to reduce it by using only the last 6 years (2012-2017) and flattening the rows to contain data for each day as opposed to each hour.

In [1]:
import pandas as pd
import numpy as np

dlst = pd.read_stata("../spring forward/data/stats19/final/final.dta")

In [17]:
len(dlst)

51103130

In [2]:
dlst.head()

,mlong,mlat,date,hour,all_accid,u25_accid,o25u45_accid,o45u65_accid,o65_accid,ped_accid,...,slight_accid,sunrise6_time,sunset6_time,samplew,year,doy,dow,longlat,dark,darkh
0,-7.75,56.75,1996-01-01,0,0,0,0,0,0,0,...,0,1960-01-01 08:19:00,1960-01-01 16:49:00,0,1996,1,2,15,1.0,15.5
1,-7.75,56.75,1996-01-01,1,0,0,0,0,0,0,...,0,1960-01-01 08:19:00,1960-01-01 16:49:00,0,1996,1,2,15,1.0,15.5
2,-7.75,56.75,1996-01-01,2,0,0,0,0,0,0,...,0,1960-01-01 08:19:00,1960-01-01 16:49:00,0,1996,1,2,15,1.0,15.5
3,-7.75,56.75,1996-01-01,3,0,0,0,0,0,0,...,0,1960-01-01 08:19:00,1960-01-01 16:49:00,0,1996,1,2,15,1.0,15.5
4,-7.75,56.75,1996-01-01,4,0,0,0,0,0,0,...,0,1960-01-01 08:19:00,1960-01-01 16:49:00,0,1996,1,2,15,1.0,15.5

In [5]:
print(dlst.columns)

Index(['mlong', 'mlat', 'date', 'hour', 'all_accid', 'u25_accid',
       'o25u45_accid', 'o45u65_accid', 'o65_accid', 'ped_accid',
       'ped_u45_accid', 'ped_o45_accid', 'fat_accid', 'ser_accid',
       'slight_accid', 'sunrise6_time', 'sunset6_time', 'samplew', 'year',
       'doy', 'dow', 'longlat', 'dark', 'darkh'],
      dtype='object')

In [6]:
dlst["samplew"].unique()

array([0, 1], dtype=int8)

In [8]:
dlst2 = dlst[dlst["year"] >= 2012]

In [11]:
dlst3 = dlst2.groupby(by=["mlong", "mlat", "date", "sunrise6_time", "sunset6_time", "year", "doy", "dow", "longlat", "darkh"], as_index=False).agg(
    {'all_accid': "sum",
     'u25_accid': "sum",
     'o25u45_accid': "sum",
     'o45u65_accid': "sum",
     'o65_accid': "sum",
     'ped_accid': "sum",
     'ped_u45_accid': "sum",
     'ped_o45_accid': "sum",
     'fat_accid': "sum",
     'ser_accid': "sum",
     'slight_accid': "sum"}
)

In [12]:
dlst3

,mlong,mlat,date,sunrise6_time,sunset6_time,year,doy,dow,longlat,darkh,...,u25_accid,o25u45_accid,o45u65_accid,o65_accid,ped_accid,ped_u45_accid,ped_o45_accid,fat_accid,ser_accid,slight_accid
0,-7.75,56.75,2012-01-01,1960-01-01 08:19:00,1960-01-01 16:49:00,2012,1,1,15,15.500000,...,0,0,0,0,0,0,0,0,0,0
1,-7.75,56.75,2012-01-02,1960-01-01 08:18:00,1960-01-01 16:50:00,2012,2,2,15,15.466666,...,0,0,0,0,0,0,0,0,0,0
2,-7.75,56.75,2012-01-03,1960-01-01 08:18:00,1960-01-01 16:52:00,2012,3,3,15,15.433333,...,0,0,0,0,0,0,0,0,0,0
3,-7.75,56.75,2012-01-04,1960-01-01 08:18:00,1960-01-01 16:53:00,2012,4,4,15,15.416667,...,0,0,0,0,0,0,0,0,0,0
4,-7.75,56.75,2012-01-05,1960-01-01 08:18:00,1960-01-01 16:54:00,2012,5,5,15,15.400000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908949,1.75,55.25,2017-12-27,1960-01-01 07:33:00,1960-01-01 16:14:00,2017,362,4,449,15.316667,...,0,0,0,0,0,0,0,0,0,0
908950,1.75,55.25,2017-12-28,1960-01-01 07:33:00,1960-01-01 16:15:00,2017,363,5,449,15.300000,...,0,0,0,0,0,0,0,0,0,0
908951,1.75,55.25,2017-12-29,1960-01-01 07:33:00,1960-01-01 16:16:00,2017,364,6,449,15.283334,...,0,0,0,0,0,0,0,0,0,0
908952,1.75,55.25,2017-12-30,1960-01-01 07:34:00,1960-01-01 16:17:00,2017,365,7,449,15.283333,...,0,0,0,0,0,0,0,0,0,0
908953,1.75,55.25,2017-12-31,1960-01-01 07:34:00,1960-01-01 16:18:00,2017,366,1,449,15.266666,...,0,0,0,0,0,0,0,0,0,0

In [13]:
dlst3["all_accid"].unique()

array([ 0,  1,  2,  3,  5,  4,  8,  6,  9,  7, 12, 11, 16, 14, 13, 10, 15,
       17, 18, 19, 21, 20, 26, 22, 25, 24, 23, 27, 28, 30, 29, 33, 36, 38,
       32, 31, 35, 45, 41, 34, 37, 39, 44, 48, 46, 47, 42, 40, 49, 43, 51,
       50, 53, 52, 64, 56, 55, 58, 59, 54, 60, 57, 62, 61, 66, 68, 74, 69,
       63, 65, 75, 71, 73, 70, 77], dtype=int8)

In [14]:
dlst3["fat_accid"].unique()

array([0, 1, 2, 3], dtype=int8)

In [15]:
dlst3[dlst3["all_accid"] > 60]

,mlong,mlat,date,sunrise6_time,sunset6_time,year,doy,dow,longlat,darkh,...,u25_accid,o25u45_accid,o45u65_accid,o65_accid,ped_accid,ped_u45_accid,ped_o45_accid,fat_accid,ser_accid,slight_accid
773505,-0.25,51.25,2014-10-09,1960-01-01 06:41:00,1960-01-01 18:54:00,2014,283,5,349,11.783334,...,4,18,20,1,6,3,0,0,8,56
775634,-0.25,51.75,2012-07-24,1960-01-01 04:29:00,1960-01-01 21:44:00,2012,206,3,350,6.750000,...,2,25,15,4,16,9,3,0,6,56
775780,-0.25,51.75,2012-10-05,1960-01-01 06:35:00,1960-01-01 19:02:00,2012,279,6,350,11.550000,...,4,16,17,4,12,6,2,2,7,55
776184,-0.25,51.75,2013-07-15,1960-01-01 04:15:00,1960-01-01 21:57:00,2013,197,2,350,6.300000,...,2,16,23,2,13,4,4,2,6,53
776404,-0.25,51.75,2013-11-08,1960-01-01 06:31:00,1960-01-01 16:57:00,2013,313,6,350,13.566667,...,5,23,11,2,16,7,2,0,2,59
776407,-0.25,51.75,2013-11-11,1960-01-01 06:36:00,1960-01-01 16:53:00,2013,316,2,350,13.716666,...,4,18,21,7,18,4,9,0,13,53
776443,-0.25,51.75,2013-12-17,1960-01-01 07:22:00,1960-01-01 16:31:00,2013,352,3,350,14.850000,...,6,20,16,2,16,8,2,0,8,60
776486,-0.25,51.75,2014-01-29,1960-01-01 07:07:00,1960-01-01 17:20:00,2014,29,4,350,13.783334,...,3,21,26,9,17,7,7,0,8,66
776653,-0.25,51.75,2014-05-23,1960-01-01 04:13:00,1960-01-01 21:42:00,2014,144,6,350,6.516667,...,3,18,25,3,14,3,5,0,5,57
776688,-0.25,51.75,2014-06-10,1960-01-01 03:55:00,1960-01-01 22:05:00,2014,162,3,350,5.833333,...,1,19,24,1,15,6,3,2,5,62
776695,-0.25,51.75,2014-06-13,1960-01-01 03:54:00,1960-01-01 22:08:00,2014,165,6,350,5.766666,...,6,13,15,4,11,3,2,0,2,62
776701,-0.25,51.75,2014-06-17,1960-01-01 03:53:00,1960-01-01 22:10:00,2014,169,3,350,5.716667,...,2,21,16,3,11,7,2,0,8,53
776715,-0.25,51.75,2014-06-27,1960-01-01 03:56:00,1960-01-01 22:11:00,2014,179,6,350,5.750000,...,2,23,15,1,11,6,3,0,8,53
776725,-0.25,51.75,2014-07-03,1960-01-01 04:00:00,1960-01-01 22:09:00,2014,185,5,350,5.850000,...,3,19,20,2,11,5,2,1,10,50
776767,-0.25,51.75,2014-07-24,1960-01-01 04:28:00,1960-01-01 21:45:00,2014,206,5,350,6.716667,...,0,23,18,6,6,3,1,0,3,60
776907,-0.25,51.75,2014-10-02,1960-01-01 06:29:00,1960-01-01 19:09:00,2014,276,5,350,11.333333,...,3,22,18,3,14,6,3,0,3,59
776963,-0.25,51.75,2014-11-03,1960-01-01 06:22:00,1960-01-01 17:05:00,2014,308,2,350,13.283334,...,2,21,20,4,14,6,4,0,6,59
776964,-0.25,51.75,2014-11-04,1960-01-01 06:24:00,1960-01-01 17:03:00,2014,309,3,350,13.350000,...,3,22,22,3,21,7,7,0,10,65
776968,-0.25,51.75,2014-11-08,1960-01-01 06:31:00,1960-01-01 16:57:00,2014,313,7,350,13.566667,...,3,20,13,6,18,10,5,0,7,54
776972,-0.25,51.75,2014-11-12,1960-01-01 06:37:00,1960-01-01 16:51:00,2014,317,4,350,13.766666,...,1,27,9,5,11,5,2,1,5,58
776985,-0.25,51.75,2014-11-25,1960-01-01 06:57:00,1960-01-01 16:37:00,2014,330,3,350,14.333333,...,6,18,19,4,17,10,3,0,10,52
777084,-0.25,51.75,2015-03-04,1960-01-01 06:07:00,1960-01-01 18:19:00,2015,64,4,350,11.800000,...,1,17,25,2,9,1,5,0,5,56
777257,-0.25,51.75,2015-06-11,1960-01-01 03:55:00,1960-01-01 22:06:00,2015,163,5,350,5.816667,...,4,21,18,4,13,6,3,0,7,56
777276,-0.25,51.75,2015-06-24,1960-01-01 03:54:00,1960-01-01 22:11:00,2015,176,4,350,5.716667,...,7,17,14,2,9,6,2,0,5,56
777285,-0.25,51.75,2015-06-30,1960-01-01 03:57:00,1960-01-01 22:10:00,2015,182,3,350,5.783333,...,4,15,20,4,6,3,1,0,6,60
777360,-0.25,51.75,2015-08-06,1960-01-01 04:50:00,1960-01-01 21:21:00,2015,219,5,350,7.483333,...,3,21,13,5,13,6,4,1,1,61
777432,-0.25,51.75,2015-09-11,1960-01-01 05:54:00,1960-01-01 19:59:00,2015,255,6,350,9.916667,...,7,16,15,2,16,10,1,0,5,60
777452,-0.25,51.75,2015-09-21,1960-01-01 06:11:00,1960-01-01 19:36:00,2015,265,2,350,10.583333,...,4,21,16,5,13,7,2,0,4,61
777531,-0.25,51.75,2015-11-05,1960-01-01 06:25:00,1960-01-01 17:02:00,2015,310,5,350,13.383333,...,3,26,12,4,17,6,3,0,3,68
777539,-0.25,51.75,2015-11-13,1960-01-01 06:38:00,1960-01-01 16:50:00,2015,318,6,350,13.800000,...,3,19,19,5,15,7,3,1,11,51
777553,-0.25,51.75,2015-11-27,1960-01-01 07:00:00,1960-01-01 16:36:00,2015,332,6,350,14.400000,...,6,21,17,3,23,9,8,0,9,57
777565,-0.25,51.75,2015-12-09,1960-01-01 07:15:00,1960-01-01 16:31:00,2015,344,4,350,14.733334,...,3,27,20,6,13,8,5,0,6,62
777571,-0.25,51.75,2015-12-15,1960-01-01 07:20:00,1960-01-01 16:31:00,2015,350,3,350,14.816667,...,6,23,17,3,28,16,8,0,10,58
777844,-0.25,51.75,2016-06-24,1960-01-01 03:54:00,1960-01-01 22:11:00,2016,176,6,350,5.716667,...,4,16,18,3,11,6,1,0,9,57
777867,-0.25,51.75,2016-07-06,1960-01-01 04:04:00,1960-01-01 22:06:00,2016,188,4,350,5.966667,...,3,17,17,6,14,5,3,0,2,64
777891,-0.25,51.75,2016-07-18,1960-01-01 04:20:00,1960-01-01 21:53:00,2016,200,2,350,6.450000,...,4,17,26,4,11,5,6,0,3,59
778103,-0.25,51.75,2016-11-03,1960-01-01 06:23:00,1960-01-01 17:04:00,2016,308,5,350,13.316667,...,3,17,19,6,10,2,3,1,8,52
778104,-0.25,51.75,2016-11-04,1960-01-01 06:25:00,1960-01-01 17:03:00,2016,309,6,350,13.366667,...,4,24,15,4,9,4,2,0,7,57
778111,-0.25,51.75,2016-11-11,1960-01-01 06:36:00,1960-01-01 16:52:00,2016,316,6,350,13.733334,...,1,27,23,3,19,7,5,1,10,62
778116,-0.25,51.75,2016-11-16,1960-01-01 06:44:00,1960-01-01 16:46:00,2016,321,4,350,13.966666,...,5,23,15,4,17,9,4,0,9,56
778118,-0.25,51.75,2016-11-18,1960-01-01 06:47:00,1960-01-01 16:44:00,2016,323,6,350,14.050000,...,4,23,20,2,12,6,4,0,12,49
778125,-0.25,51.75,2016-11-25,1960-01-01 06:58:00,1960-01-01 16:37:00,2016,330,6,350,14.350000,...,7,26,16,2,24,12,4,0,14,56
778132,-0.25,51.75,2016-12-02,1960-01-01 07:07:00,1960-01-01 16:33:00,2016,337,6,350,14.566667,...,3,26,22,1,20,11,3,1,9,56
778137,-0.25,51.75,2016-12-07,1960-01-01 07:13:00,1960-01-01 16:31:00,2016,342,4,350,14.700000,...,6,14,30,5,22,4,11,0,5,66
778140,-0.25,51.75,2016-12-10,1960-01-01 07:16:00,1960-01-01 16:31:00,2016,345,7,350,14.750000,...,3,23,16,4,19,7,6,1,10,53
778170,-0.25,51.75,2017-01-09,1960-01-01 07:25:00,1960-01-01 16:51:00,2017,9,2,350,14.566667,...,3,20,24,3,20,10,6,0,9,52
778255,-0.25,51.75,2017-03-31,1960-01-01 06:04:00,1960-01-01 20:07:00,2017,91,6,350,9.950000,...,5,14,18,2,9,4,2,0,4,57
778404,-0.25,51.75,2017-06-14,1960-01-01 03:54:00,1960-01-01 22:08:00,2017,166,4,350,5.766666,...,4,18,17,6,11,4,7,3,8,51
778436,-0.25,51.75,2017-07-04,1960-01-01 04:01:00,1960-01-01 22:08:00,2017,186,3,350,5.883333,...,2,23,17,3,12,5,4,0,10,52
778442,-0.25,51.75,2017-07-07,1960-01-01 04:04:00,1960-01-01 22:06:00,2017,189,6,350,5.966667,...,1,31,19,4,18,9,5,0,10,67
778596,-0.25,51.75,2017-09-22,1960-01-01 06:13:00,1960-01-01 19:32:00,2017,266,6,350,10.683333,...,0,20,20,1,17,7,2,0,12,53
778632,-0.25,51.75,2017-10-10,1960-01-01 06:43:00,1960-01-01 18:51:00,2017,284,3,350,11.866667,...,3,20,15,4,7,3,1,0,7,54
778697,-0.25,51.75,2017-11-25,1960-01-01 06:58:00,1960-01-01 16:37:00,2017,330,7,350,14.350000,...,9,21,14,3,24,13,4,1,8,53
778703,-0.25,51.75,2017-12-01,1960-01-01 07:06:00,1960-01-01 16:33:00,2017,336,6,350,14.550000,...,1,26,19,2,19,5,7,0,6,59
778717,-0.25,51.75,2017-12-15,1960-01-01 07:21:00,1960-01-01 16:31:00,2017,350,6,350,14.833333,...,4,25,14,6,19,10,4,2,11,60

In [16]:
dlst3.to_csv("dlst_red.csv", index=False)